<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Happy Anniversary 3 Mouth</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="card">
        <div class="text">
            <h1>สุขสันต์วันครบรอบนะค้าบที่รัก</h1>
            <h1>3 เดือน</h1>
            <p>3เดือนแล้วนะค้าบ อาจจะมีงอนกันบ้าง น้อยใจกันบ้าง โกดกันบ้าง แต่เค้าไม่เคยรักเตงน้อยลงเลยนะค้าบ มีแต่รักมากขึ้นทุกวัน อยากจะบอกว่าที่เค้า หวง หึง ห่วง บ่น ดุ เพราะเค้ารักเตงนะค้าบ อยู่กับเค้าไปนานๆนะค้าบ ไปเที่ยวด้วยกัน ไปหาอะไรกินด้วย นอนด้วยกัน เค้าอยากอยู่กับเตงไปตลอดเลยนะค้าบ</p>
            <br>
            <br>
            <p class="muted">- Yuki -</p>
        </div>
        <div class="space"></div>
        <audio controls autoplay>
            <source src="../audio/ham.mp3" type="audio/mp3"> Your browser does not support the audio element.
        </audio>
        <script src="../js/script.js"></script>
    </div>
</body>

</html>