@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  transition: all 0.2s ease-in-out;
}

body {
  background: #df2569;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: #fff; /* Improved text contrast */
}

.card {
  background-image: url('../img/enlarge_denoise_retouch_2024041119295206.jpg');
  background-size: 65vh;
  border-radius: 10px;
  height: 65vh;
  width: 80vw;
  box-shadow: 1px 0 10px 10px rgb(255, 255, 255); /* Adjusted box shadow for depth */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
}

@media only screen and (min-width: 1000px) {
  .card {
    flex-direction: row-reverse;
  }
  .card  {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

@media only screen and (max-height: 640px) {
  .card {
    flex-direction: row-reverse;
  }
  .card  {
    width: 100%;
    max-width: 50vw;
    max-height: unset;
  }
}

p {
  font-size: 25px;
}

.text {
  margin-top: 60px;
  padding: 1em;
  color: #333; /* Adjusted text color */
}

.muted {
  opacity: 0.8;
}

.space {
  height: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.play-music {
  animation: fadeIn 2s ease-in-out; /* Adjust the animation duration and timing function as needed */
}